<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div id="app" class="container">
        <header>
            <div class="container-head">
                <a href="#" class="logo">LOGO</a>
                <div class="headerRight">
                    <div class="search">
                        <input @input="filterProducts" v-model="userSearch"  type="text" placeholder="Поиск">
                        <div @click="filterProducts">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <button @click="toggleCart" class="btn-cart" type="button">Корзина</button>
                </div>
                <div v-if="showCart" class="cart-block">
                    <div v-if="!goods.length" class="emptyCart">В корзине пока пусто...</div>
                    <div v-for="product in goods"  class="cart-item">
                        <img :src="imgCart">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}}p/шт.</p>
                        <p>{{product.quantity}} шт.</p>
                        <p class="total">{{ product.price * product.quantity }}p</p>
                        <button @click="removeFromCart(product)" class="del-btn">X</button>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div v-if="!filteredProducts.length" class="emptySearch">По вашему поиску нет товаров.</div>
                <div v-for="product in filteredProducts" class="product-item">
                    <h3>{{product.product_name}}</h3>
                    <img :src="img">
                    <p>{{product.price}}</p>
                    <button @click="addToCart(product)" class="buy-btn">Купить</button> 
               </div>
            </div>
        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>